.TopWrap{
  /* border: 1px solid black; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.Wrap{
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.HeadHeader{
  /* border: 1px solid black; */
  height: 70px;
  width: 900px;
  display: flex;
  background-color:#BF9474;
  color: #623412;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.HomeWrap{
  /* border: 1px solid black; */
  height: 50px;
  margin-left: 20px;
  display: flex;
}

.LOGONAME{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'KOHIBaeumOTF';
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

.Button_headWrap{
  /* border: 1px solid black; */
  height: 50px;
  margin-right: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.HeadButton{
  outline: none;
  background-color: transparent;
  border: none;
  color: #623412;
  font-size: 17px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

.Divide_wrap{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.Wing_left{
  width: 0px;
  height: 0px;
  border-top: 15px solid #523f31;
  border-left: 15px solid transparent;
}

.Wing_right{
  width: 0px;
  height: 0px;
  border-top: 15px solid #523f31;
  border-right: 15px solid transparent;
}

.DivideBar{
  /* border:1px solid black; */
  width: 870px;
  height: 15px;
  background-color: #523f31;
}

.HeadBody{
  /* border: 1px solid black; */
  /* height: 100px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 900px;
  display: flex;
  background-color: #f8f4d7;
}

.Center_image{
  width: 700px;
  align-items: center;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

.LeftArrow{
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-end;
  align-items: right;  
  width: 50px;
  cursor: pointer;
}

.RightArrow{
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
  align-items: left;
  width: 50px;
  cursor: pointer;
}

.HeadFooter{
  /* border: 1px solid black; */
  height: 10px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------메인 카드 뭉치------------------- */



.Card_field {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 900px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 60px;
  gap: 15px;
  /* border: 1px solid black; */
}

.Card_TopwithBottom{
  /* border: 1px solid black; */
  margin-left: 17px;
}

.Card_allWrap{
  border: 2px dashed #d5bfb4;
  border-bottom: none;
  border-top-left-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 392px;
  height: 250px;
  padding: 10px;
  /* margin-left: 25px; */
  margin-top: 15px;
  border-bottom: none;
  /* margin: 15px; */
  /* box-shadow: 3px 3px 7px #888B8D; */
}

.card_half_Wrap_Top{
  /* border: 1px solid black; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.Image_wrap{
  margin-right: 20px;
  width: 170px;
  height: 235px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  /* border: 1px solid black; */
}

.Text_Wrap{
  /* border: 1px solid black; */
  display: flex;
  flex-flow:column nowrap;
  justify-content: space-between;
}

.Text_Title_wrap{
  /* border: 1px solid black; */
  width: 190px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #523f31;
}

.TextField{
  /* border: 1px solid black; */
  width: 190px;
  height: 160px;
  font-size: 13px;
  margin-bottom: 10px;
  color: #523f31;
  overflow: hidden;
}

.book_detailButton{
  border: none;
  outline: none;
  width:190px;
  font-size: 13px;
  padding: 5px;
  font-weight: bold;
  color: white;
  background-color: #866761;
  cursor: pointer;
}

.card_half_Wrap_Bottom{
  /* border: 1px solid black; */
  height: 20px;
  width: 390px;
  padding: 13px;
  text-align: right;
  font-size: 13px;
  font-weight: bold;
  color: white;
  background-color: #AA8066;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom-right-radius: 30px;
  /* border-radius: 10px; */
}

.Card_bottom_thumb{
  width: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  /* border: 1px solid black; */
}

.Card_bottom_Profile{
  /* border: 1px solid black; */
  color:ghostwhite;
  font-size: 14px;
  padding-right: 15px;
}

.Bottom_Numbering{
  /* border: 1px sold black; */
  width: 900px;
  height: 100px;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.page{
  /* border: 1px solid black; */
  width: 700px;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.PageArrow{
  cursor: pointer;
}

.Page_Number{
  font-size: 20px;
  /* border: 1px solid black; */
  width: 25px;
  height: 25px;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}


/* -----------------로그인 페이지-------------------- */


.Login_Wrap{
  /* border: 1px solid black; */
  width: 900px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.Login_Top{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: 400px;
  width: 890px;
  margin-bottom: 20px;
}

.GuideBanner{
  /* border: 1px solid black; */
  height: 150px;
  width: 700px;
  margin-bottom: 40px;
  text-align: center;
  /* font-family: 'SEBANG_Gothic_Bold'; */
}

.Log_text_1{
  font-size: 30px;
  margin-left: 10px;
  font-weight: bolder;
  color:#523f31;
  font-family: 'KOHIBaeumOTF';
}

.Log_text_2{
  font-size: 20px;
  margin-left: 10px;
  font-weight: bolder;
  color:#523f31;
}

.Login_inputWrap{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 10px;
  /* border: 1px solid black; */
}

.ID_Wrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.PW_Wrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.Guide_PW{
  color: #A2AAAD;
  margin-bottom: 10px;
  padding: 10px;
  width: 530px;
}

.Login_Label{
  width: 150px;
  margin-right: 15px;
  font-size: 20px;
  height: 30px;
  background-color: #523f31;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.Login_Input{
  width: 350px;
  height: 20px;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.LoginButton{
  width: 250px;
  border: none;
  outline: none;
  background-color: #523f31;
  color: white;
  font-size: 30px;
  padding:10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.LogintoJoin{
  cursor: pointer;
}


/* ------------------회원가입 페이지------------------- */


.Join_Wrap{
  width: 900px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.Join_Top{
  width: 900px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.GuideBanner_join{
  height: 150px;
  width: 700px;
  margin-bottom: 40px;
}

.Join_text_1{
  font-size: 30px;
  margin-left: 10px;
  font-weight: bolder;
  color:#523f31;
  font-family: 'KOHIBaeumOTF';
  text-align: center;
}

.Join_text_2{
  font-size: 20px;
  margin-left: 10px;
  font-weight: bolder;
  color:#523f31;
  text-align: center;
}

.Join_inputWrap{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 10px;
}

.ID_JoinWrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.PW_JoinWrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.Join_Label{
  width: 150px;
  height: 30px;
  margin-right: 15px;
  font-size: 20px;
  /* border: 1px solid black; */
  background-color: #523f31;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.Join_Input{
  width: 350px;
  height: 20px;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.JoinButton{
  width: 250px;
  border: none;
  outline: none;
  background-color: #523f31;
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding:10px;
  border-radius: 10px;
  cursor: pointer;
}


/* -------------------추가 페이지-------------------- */


.Add_allwrap{
  width: 900px;
  height: 800px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 90px;
}

.PageTitle{
  font-size: 30px;
  color: #523f31;
  font-family: 'KOHIBaeumOTF';
  margin-top:40px;
  margin-bottom: 10px;
  margin-left: 20px;
  /* margin-left: 15px; */
}

.Page_guide{
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 15px;
  color: #523f31;
}

.Add_topWrap{
  width: 890px;
  /* height: 450px; */
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ImageAdd_wrap{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.ImageAdd_wrap_Guide{
  width: 285px;
  height: 360px;
  border: 2px dashed #A2AAAD;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Add_TitleWrap{
  width: 500px;
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.Add_BuylinkText{
  width: 850px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  /* border: 1px solid black; */
}

.Add_inputIURL{
  width: 530px;
  padding: 7px;
  font-size: 13px;
  font-weight: bold;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #523f31;
  outline: none;
  margin-left: 15px;
}

.Add_StarPoint{
  width: 600px;
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.Add_PicButton{
  width: 130px;
  outline: none;
  border: none;
  padding: 10px;
  background-color: #523f31;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  display: inline-block;
  line-height: 25px;
  cursor: pointer;
}

.Add_textLabel{
  width: 130px;
  outline: none;
  border: none;
  padding: 10px;
  background-color: #523f31;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  display: inline-block;
  line-height: 25px;
}

.Add_Browse{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0,0,0,0);
  overflow: hidden;
  padding: 0;
}

.Add_TitleText{
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #653819
}

.Add_Input_Area{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  /* border: 1px solid black; */
}

.Add_Title_sub1{
  font-size: 20px;
  padding-left: 20px;
  font-weight: bold;
  color: white;
  font-family: 'Cafe24Ohsquareair';
}

.Add_Title_Input{
  width: 700px;
  height: 25px;
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  /* border: 2px solid #523f31; */
  outline: none;
  margin-top: 10px;
}

.Add_Text_Input{
  width: 700px;
  height: 200px;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  margin-top: 20px;
  margin-bottom: 20px;
  resize: none;
}

.Sub-mit_Button_wrap{
  display: flex;
  width: 900px;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.StarPoint{
  font-size: 35px;
  margin-left: 15px;
  text-align: center;
  cursor: pointer;
}

.Add_Bottom{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 730px;
  /* border: 1px solid black; */
}

.Add_PostButton{
  width: 250px;
  height: 55px;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #523f31;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 50px;
  font-family: 'KOHIBaeumOTF';
  cursor: pointer;
  transition:all 0.9s, color 0.5;
  line-height:40px;
  display: block;
}

.hover1:hover{
  box-shadow:250px 0 0 0 rgba(0,0,0,0.5) inset;
  animation: hoverslide 0.5s ease-in;
  animation-fill-mode: forwards;
}

.Add_Image_URL{
  display: inline-block;
  height: 35px;
  font-size:18px; 
  padding: 0 10px;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}



/* ------------------상세 페이지------------------- */


.Info_allwrap{
  width: 900px;
  height: 1400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  background-color:rgba(0, 0, 0, 0.8);
  z-index: 5;
  top: 0;
  animation: opacity 0.3s ease;
  /* border: 1px solid black; */
}

.Info_topWrap{
  background-color:ghostwhite;
  box-shadow: 10px 15px 15px black;
  height: 500px;
  margin-top: 500px;
}

.Info_topWrap{
  width: 850px;
  height: 610px;
  /* border: 1px solid black; */
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 450px;
  background-color: whitesmoke;
}

.ImageInfo_wrap{
  width: 300px;
  height: 420px;
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.ImageInfo_wrap_Guide{
  width: 290px;
  height: 400px;
  border: 2px dashed #A2AAAD;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.Info_TitleWrap{
  width: 500px;
  height: 550px;
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.Info_Text_Wrap{
  width: 500px;
  display: flex;
}

.Info_User_Wrap{
  width: 480px;
  display: flex;
  background-color: #653819;
  /* border: 1px solid black; */
  display: flex;
  border-radius: 10px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.Info_user_1{
  width: 110px;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
  color: white;
  text-align: left;
  /* border: 1px solid black; */
}

.Info_user_2{
  width: 90px;
  font-size: 12px;
  padding: 10px;
  color: #E6A65D;
  text-align: left;
  /* border: 1px solid black; */
}

.Info_user_3{
  width: 80px;
  font-size: 15px;
  padding: 10px;
  color: white;
  background-color: transparent;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  /* border: 1px solid black; */
}

.Info_user_4{
  width: 100px;
  font-size: 17px;
  padding: 10px;
  color: white;
  text-align: center;
  /* border: 1px solid black; */
}

.Info_Title_wrap{
  /* border: 1px solid black; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 15px;
}

.Info_Title{
  /* width: 390px; */
  /* height: 25px; */
  padding: 8px;
  font-size: 25px;
  font-weight: bold;
  /* border: 1px solid #523f31; */
  outline: none;
  /* margin-right: 15px; */
  /* margin-top: 30px; */
  color: #523f31
}

.Info_Text{
  width: 460px;
  height: 240px;
  padding: 10px;
  font-size: 14px;
  /* border: 1px solid #523f31; */
  outline: none;
  margin-bottom: 10px;
  resize: none;
  line-height: 19px;
  color: #523f31;
  overflow: auto;
}

.Info_bottomWrap{
  width: 850px;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin-top: 20px;
  background-color: whitesmoke;
  box-shadow: 8px 12px 15px black;
}

.Bottom_EditWrap{
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.LinkWrap{
  /* border: 1px solid black; */
  width: 475px;
  font-size: 15px;
  font-weight: bold;
}

.Link_Bar{
  text-align: left;
  margin-bottom: 10px;
  background-color: #523f31;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
}

.Link_Text{
  /* border: 1px solid black; */
  font-size: 12px;
  margin-bottom: 10px;
  width: 450px;
  padding: 5px;
  color:#A2AAAD;
  margin-left: 5px;
}

.Info_EditWrap{
  /* border: 1px solid black; */
  /* width: 470px; */
  display: flex;
  width: 480px;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  /* margin-bottom: 10px; */
}

.Edit_Body{
  cursor: pointer;
  font-weight: bold;  
  color: #523f31;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  /* border: 1px solid black; */
}

.DeleteText{
  cursor: pointer;
  font-weight: bold;
  color: #523f31;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  /* border: 1px solid black; */
}

.Xclose{
  margin-bottom:10px;
  cursor: pointer;
}


/* -----------------------수정 페이지--------------------------- */


.Edit_TitleWrap{
  width: 480px;
  height: 550px;
  /* height: 300px; */
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.Edit_User_Wrap{
  width: 480px;
  display: flex;
  background-color: #653819;
  /* height: 100px; */
  /* border: 1px solid black; */
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.ImageEdit_wrap{
  width: 300px;
  /* height: 400px; */
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.ImageEdit_wrap_Guide{
  width: 290px;
  height: 400px;
  border: 2px dashed #A2AAAD;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.Edit_user_1{
  width: 110px;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
  color: white;
  text-align: left;
  margin-left: 25px;
}

.Edit_User4{
  margin: 3px;
  cursor: pointer;
}
.Edit_BodyWrap{
  /* border: 1px solid black; */
  width: 480px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.Edit_Title{
  width: 450px;
  height: 25px;
  padding: 8px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  outline: none;
  margin-top: 30px;
  background-color: ghostwhite;
  color: #A7A8AA;
  border: none;
}

.EditWrap{
  /* border: 1px solid black; */
  /* width: 470px; */
  display: flex;
  width: 480px;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  /* margin-bottom: 10px; */
}

.Edit_Text{
  width: 450px;
  height: 240px;
  padding: 10px;
  font-size: 14px;
  outline: none;
  margin-bottom: 10px;
  resize: none;
  line-height: 19px;
  color: #523f31;
  border: none;
  background-color: ghostwhite;
  color: #A7A8AA;
  border-radius: 10px;
}

.FixButton{
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #523f31;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.Link_Edit{
  /* border: 1px solid black; */
  font-size: 12px;
  margin-bottom: 10px;
  width: 450px;
  padding: 5px;
  color:#A2AAAD;
  margin-left: 5px;
  border: none;
  outline: none;
}


/* --------------------- 애니메이션 CSS ----------------------- */



.ImgAnimation{
  display: inline-block;
  padding: 10px;
  animation: slide 2s ease-in;
  animation-fill-mode: forwards;
  }

@keyframes slide {
  0% {
    transform: translateX(-2%);
  }
  10% {
    transform: translateX(2%);
  }
  50% {
    transform: translateX(-2%);
  }
  75% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(2%);
  }
  10% {
    transform: translateX(-2%);
  }
  0% {
    transform: translateX(2%);
  }
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hoverslide {
  0% {
    transform: translateX(2%);
  }
  50% {
    transform: translateX(-2%);
  }
  75% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(2%);
  }
  0% {
    transform: translateX(-2%);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KOHIBaeumOTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuseongDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yeongdo-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ohsquareair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}